<h3>{{ product.name }}</h3>
<p>{{ product.description }}</p>
<span>Price: {{ product.price | currency}}</span>
<div [ngSwitch]="product.category">Category:
  <ng-template ngSwitchCase="0">{{'cpu' | uppercase}}</ng-template>
  <ng-template ngSwitchCase="1">{{'external cpu' | uppercase}}</ng-template>
  <ng-template ngSwitchCase="2">{{'gpu' | uppercase}}</ng-template>
  <ng-template ngSwitchCase="3">{{'ram' | uppercase}}</ng-template>
</div>
<div *ngIf="product.isAvailable">
  <p>Available</p>
</div>
<div *ngIf="!product.isAvailable">
  <p>Not available</p>
</div>
<div>
  <button [disabled]="!product.isAvailable" (click)="buyEvent.emit()">BUY</button>
</div>
